<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>{{ title }}</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap JS and dependencies -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<main>
    <body>
    <div class="container py-4">
        <!-- Report Header -->
        <div class="pb-3 mb-4 border-bottom">
            <h1>{{ title }}</h1>
            <p>{{ subtitle }}</p>
        </div>

        <!-- description -->
        <div class="p-0 mb-4 ">
            <h2>{{ description.title }}</h2>
            <p>{{ description.content }}</p>
        </div>

        <!-- energy -->
        {% if energy %}
            <div class="p-0 mb-4 ">
                <div class="row p-0 mb-4 ">
                    <div class="col-md-7 p-0 mb-4">
                        <h4>Ciao</h4>
                        <p>Testo</p>
                    </div>
                    <div class="col-md-5 p-0 mb-4">
                        <img src={{ energy.img_table }} width="100%">
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-5 p-0 mb-4">
                        <h4>Ciao</h4>
                        <p>Testo</p>
                    </div>
                    <div class="col-md-7 p-0 mb-4">
                        <img src={{ energy.cop }} width="100%">
                    </div>
                </div>
                {{ energy.plotly }}
            </div>
        {% endif %}

        {% for component in components %}
            <br>
            <div class="p-0 mb-4">
                <h2>{{ component.title }}</h2>
                <p>{{ component.content }}</p>
            </div>
        {% endfor %}


        <footer class="pt-3 mt-4 text-muted border-top">
            <p>{{ footer_text }}</p>
        </footer>
    </div>

    </body>
</main>
</html>
